include ./includes/head.jade
  title Home
body
  .mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header
    header.mdl-layout__header
      .mdl-layout__header-row
        span.mdl-layout__title Home
        .mdl-layout-spacer
        button#hdrbtn.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon
          i.material-icons more_vert
        ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for="hdrbtn")
          li
            a.align-center.mdl-menu__item(href="logout") 退出登陆
    .border-none.mdl-layout__drawer.mdl-color--blue-grey-900.mdl-color-text--blue-grey-50
      header.home-drawer-header
        img.home-user-avator(src="images/user.jpg")
        span.home-user-info #{useremail}
      nav.home-drawer-nav.mdl-navigation.mdl-color--blue-grey-800
        a.align-center.mdl-navigation__link(href="#") 设置习题
        a.align-center.mdl-navigation__link(href="#") 情况统计
    main.mdl-layout__content.mdl-color--grey-100
  include ./includes/foot.jade
