include ./includes/head.jade
    title 登陆
    style.
        .container {
            max-width: 430px;
        }
        .form-signin-heading {
            text-align: center;
        }
        .alert {
            margin-top: 50px;
        }
body
    .container.center-block
        form.form-signin(role="form", method="post")
            h2.form-signin-heading 登陆
            label.sr-only(for="inputName") 用户名
            input.input-lg#inputName.form-control(type="text", name="username", placeholder="用户名" required)
            br
            label.sr-only(for="inputPassWord") 密码
            input.input-lg#inputPassWord.form-control(type="password", name="password", placeholder="密码" required)
            .checkbox
                label
                    input(type="checkbox", value="remember-me")
                    记住密码
            button.btn.btn-lg.btn-primary.btn-block(type="submit") 登陆
        a.btn.btn-lg.btn-link.pull-left(href="/signup") 注册
        a.btn.btn-lg.btn-link.pull-right(href="/forget") 忘记密码
        if err
            .show.alert.alert-danger(role="alert") #{err}
include ./includes/foot.jade
