<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>注册</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="alternate icon" type="image/png" href="assets/i/favicon.png">
    <link rel="stylesheet" href="assets/css/amazeui.min.css" />
    <style>
        .header {
            text-align: center;
        }
        
        .header h1 {
            font-size: 200%;
            color: #333;
            margin-top: 30px;
        }
        
        .header p {
            font-size: 14px;
        }
        #err-div {
            display: none;
        }
    </style>
</head>

<body>
    <div class="header">
        <div class="am-g">
            <h1>Class Quiz</h1>
            <p>测试一下吧</p>
        </div>
        <hr />
    </div>
    <div class="am-g">
        <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
            <form action="/signup" method="post" class="am-form" data-am-validator>
                <fieldset>
                    <legend>注 册</legend>
                    <div class="am-form-group">
                        <label for="doc-vld-name-2">用户名：</label>
                        <input name="username" type="text" id="doc-vld-name-2" minlength="3" placeholder="输入用户名（至少3个字符）" required/>
                    </div>

                    <div class="am-form-group">
                        <label for="doc-vld-pwd-1">密码：</label>
                        <input name="password" type="password" id="doc-vld-pwd-1" minlength="6" placeholder="输入密码(至少6位)" required/>
                    </div>

                    <div class="am-form-group">
                        <label for="doc-vld-pwd-2">确认密码：</label>
                        <input name="ckpassword" type="password" id="doc-vld-pwd-2" placeholder="请与上面输入的值一致" data-equal-to="#doc-vld-pwd-1" required/>
                    </div>

                    <div class="am-cf">
                        <input type="submit" value="注 册" class="am-btn am-btn-primary am-btn-sm am-fl">
                        <a href="/login" target="_self" class="am-btn am-btn-primary am-btn-sm am-fr">登 录</a>
                    </div>
                    <div id="err-div" class="am-alert am-alert-danger" data-am-alert>
                        <button type="button" class="am-close">&times;</button>
                        <p id="err-p"><%- err %></p>
                    </div>
                </fieldset>
            </form>
            <hr>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/amazeui.min.js"></script>
    <script>
        $(function () {
            var err = $('#err-p').text();
            if (err !== '') {
                $('#err-div').show();
            }
        });
    </script>
</body>

</html>
