@import share
@import sweetalert
* 
  user-select: none
  -ms-user-select: none
  -o-user-select: none
  -moz-user-select: none
  -khtml-user-select: none
  // iphone太难搞
  //-webkit-user-select: none
  -webkit-touch-callout: none

.user-info
  min-height: 30px
  max-width: 300px
  margin: 0 auto
