include ../includes/head
  script(src="/js/xlsx.core.min.js")
  script(src="/js/chart.min.js")
  link(href="/css/home.css", rel="stylesheet")
  title Home
body
  .mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header#app
    header.mdl-layout__header
      .mdl-layout__header-row
        span.mdl-layout__title Home
      .mdl-layout__tab-bar.mdl-js-ripple-effect
        a.mdl-layout__tab(:href="tab.url", v-for="tab in tabs") {{tab.title}}
    .border-none.mdl-layout__drawer.mdl-color--blue-grey-900.mdl-color-text--blue-grey-50
      header.home-drawer-header(style="background-size:cover;")
        span.greeting
        span.home-user-info #{useremail}
      nav.home-drawer-nav.mdl-navigation.mdl-color--blue-grey-800
        a.align-center.mdl-navigation__link(href="#", @click="setCourseTabs") 课程管理
        a.align-center.mdl-navigation__link(href="#", @click="setClassTabs") 授课班次
        a.align-center.mdl-navigation__link(href="#", @click="setInfoTabs") 个人信息
        .spacer
        a.align-center.mdl-navigation__link(href="/logout") 退出登陆
    main.mdl-layout__content.mdl-color--grey-100
      section.mdl-layout__tab-panel#course-tab-1
        .mdl-grid
          .mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--2dp
            .mdl-card__title
              p.mdl-card__title-text 已添加课程
          .mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--2dp(v-for="(cardIdx, card) in cards")
            .mdl-card__title.mdl-card--border
              p.mdl-card__title-text(v-text="card.name+'-'+card.term+'('+card.duration+'课时)'")
              button.mdl-button.mdl-js-button.mdl-button--icon(@click="toggleCard($event)")
                i.material-icons.full-text fullscreen
            .mdl-card__supporting-text.body.hide
              .mdl-grid
                .mdl-cell.mdl-cell--4-col.mdl-card.mdl-shadow--4dp(v-for="(chapIdx, chapter) in card.chapters", track-by="$index")
                  .mdl-card__title.mdl-card--border
                    span#title.editable(@click="editChapter($event)")
                      {{ chapter.title | validChapter }}
                      .mdl-tooltip(for='title') 点击修改
                    input.editInput.hide(type="text", @blur="editChapter($event)", v-model="chapter.title | validChapter")
                    button#removechap.mdl-button.mdl-js-button.mdl-button--icon(@click="removeChapter(chapIdx, cardIdx)")
                      i.material-icons remove
                      .mdl-tooltip(for='removechap') 移除章节
                  .mdl-card__supporting-text
                    p 题目总数 {{ chapter.totalNum }}
                    p 单选题 {{ chapter.singleNum }}
                    p 多选题 {{ chapter.multiNum }}
                    p 判断题 {{ chapter.judgeNum }}
                    p 问答题 {{ chapter.askNum }}
                    p 知识点列表
                    .tag.inline(v-for="(tagIdx, tag) in chapter.tags", track-by="$index")
                      span.label-info(v-text='tag')
                .mdl-cell.mdl-cell--4-col.mdl-card.add-chapter
                  button.mdl-button.mdl-js-button.mdl-button--fab(@click="addChapter(cardIdx)")
                    i.material-icons note_add
            .mdl-card__actions.mdl-card--border.body.hide
              button.pull-right.mdl-button.mdl-js-button.mdl-button--primary(@click="save(cardIdx, $event)") 保存
              button.pull-right.mdl-button.mdl-js-button.mdl-button--primary(@click="del(cardIdx)") 删除
      section.mdl-layout__tab-panel#course-tab-2
        .mdl-grid
          .mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--2dp
            .mdl-card__supporting-text
              .mdl-textfield.input
                label 课程名：
                input.mdl-textfield__input(type="text", v-model="course.name | validName")
              .range
                label 课时：
                input.mdl-slider.mdl-js-slider(type="range", min="16", max="64", value="32", step="8", v-model="course.duration")
                span(v-text="course.duration")
              .select
                label 学期：
                select(v-model="course.term")
                  option(selected) 2015-2016第一学期
                  option 2015-2016第二学期
                  option 2016-2017第一学期
                  option 2016-2017第二学期
            .mdl-card__actions.mdl-card--border
              button.pull-right.mdl-button.mdl-js-button.mdl-button--primary(@click="add($event)") 添加
      section.mdl-layout__tab-panel#course-tab-3
        .mdl-grid
          .mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--2dp
            .mdl-card__supporting-text.width-calc-30
              .select
                label 课程：
                select(v-model="course._id", @click='clear')
                  option(v-for="(index, course) in courses", v-text="course.name+'-'+course.term", :value="course._id")
              .select
                label 章节：
                select(v-model="course.chapter", @click='clear')
                  option(v-for="(index, chapter) in courses[idx].chapters", v-text="chapter.title", :value="chapter.title", track-by="$index")
              .mdl-textfield.input
                label 文件：
                input.mdl-textfield__input(type="file", @change="read($event)", @click="read($event)")
              p.flex
                i.material-icons.mdl-color-text--blue-600 info
                请参考示例文件录入习题
                a(href="/quiz.xlsx") 下载
              p.flex
                i.material-icons.mdl-color-text--blue-600 info
                习题可叠加录入，重复习题会自动过滤
              .mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--2dp
                .mdl-card__supporting-text.width-calc-30
                  table.mdl-data-table.table
                    thead
                      tr
                        th 序号
                        th 题目
                        th 类型
                        th 选项
                        th 参考答案
                        th 知识点
                    tbody
                      tr(v-for="data in jsonData")
                        td(v-text="$index + 1")
                        td(v-text="data.题目")
                        td(v-text="data.类型")
                        td(v-text="data.选项")
                        td(v-text="data.参考答案")
                        td(v-text="data.知识点")
            .mdl-card__actions.mdl-card--border
              button.pull-right.mdl-button.mdl-js-button.mdl-button--primary(@click="save($event)") 录入
      section.mdl-layout__tab-panel#course-tab-4
        .mdl-grid
          .mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--2dp
            .mdl-card__supporting-text.width-calc-30
              .select
                label 课程：
                select(v-model="course._id", @click="clear")
                  option(v-for="course in courses", v-text="course.name+'-'+course.term", :value="course._id")
              .select
                label 章节：
                select(v-model="course.chapter", @click="clear")
                  option(v-for="(index, chapter) in courses[idx].chapters", v-text="chapter.title", :value="chapter.title", track-by="$index")
              .mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--2dp
                .mdl-card__supporting-text.width-calc-30
                  table.mdl-data-table.table
                    thead
                      tr
                        th 序号
                        th 题目
                        th 类型
                        th 选项
                        th 参考答案
                        th 知识点
                    tbody
                      tr(v-for="quiz in quizs")
                        td(v-text="$index + 1")
                        td(v-text="quiz.describe.content")
                        td(v-text="quiz.genre")
                        td(v-text="quiz.selections")
                        td(v-text="quiz.answers")
                        td(v-text="quiz.ref_point")
            .mdl-card__actions.mdl-card--border
              button.pull-right.mdl-button.mdl-js-button.mdl-button--primary(@click="get($event)") 查询
              button.pull-right.mdl-button.mdl-js-button.mdl-button--primary(@click="del($event)") 删除
      section.mdl-layout__tab-panel#class-tab-1
        .mdl-grid
          .mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--2dp
            .mdl-card__title
              p.mdl-card__title-text 已添加班次
          .mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--2dp(v-for="(cidx, class) in classes")
            .mdl-card__title.mdl-card--border
              p.mdl-card__title-text(v-text="class.class_name")
              button.mdl-button.mdl-js-button.mdl-button--icon(@click="toggleCard($event)")
                i.material-icons.full-text fullscreen
            .mdl-card__supporting-text.width-calc-30.hide.body
              table.mdl-data-table.table-class
                thead
                  tr
                    th 序号
                    th 姓名
                    th 学号
                    th 专业
                    th 班级
                tbody
                  tr(v-for="student in class.ref_students")
                    td(v-text="$index + 1")
                    td(v-text="student.name")
                    td(v-text="student.no")
                    td(v-text="student.spercialty")
                    td(v-text="student.className")
            .mdl-card__actions.mdl-card--border.hide.body
              button.pull-right.mdl-button.mdl-js-button.mdl-button--primary(@click="del(cidx)") 删除
      section.mdl-layout__tab-panel#class-tab-2
        .mdl-grid
          .mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--2dp
            .mdl-card__supporting-text
              .select
                label 课程：
                select(v-model="course")
                  option(v-for="course in courses", v-text="course.name+'-'+course.term", :value="course")
              .mdl-textfield.input
                label 班级名：
                input.mdl-textfield__input(type="text", v-model="className | validName")
            .mdl-card__actions.mdl-card--border
              button.pull-right.mdl-button.mdl-js-button.mdl-button--primary(@click="addClass($event)") 添加
      section.mdl-layout__tab-panel#class-tab-3
        .mdl-grid
          .mdl-cell.mdl-card.mdl-cell--12-col.mdl-shadow--2dp
            .mdl-card__supporting-text.width-calc-30
              .select
                label 班次：
                select(v-model="Class")
                  option(v-for="(idx, class) in classes", v-text="class.class_name", :value="class")
              .mdl-textfield.input
                label 名单：
                input.mdl-textfield__input(type="file", @change="read($event)", @click="read($event)")
              p.flex
                i.material-icons.mdl-color-text--blue-600 info
                请参考示例文件录入学生名单
                a(href="/student.xlsx") 下载
              p.flex
                i.material-icons.mdl-color-text--blue-600 info
                本班次学生名单以最后一次录入为准
              .mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--2dp
                .mdl-card__supporting-text.width-calc-30
                  table.mdl-data-table.table-class
                    thead
                      tr
                        th 序号
                        th 姓名
                        th 学号
                        th 专业
                        th 班级
                    tbody
                      tr(v-for="data in jsonData")
                        td(v-text="$index + 1")
                        td(v-text="data.姓名")
                        td(v-text="data.学号")
                        td(v-text="data.专业")
                        td(v-text="data.班级")
            .mdl-card__actions.mdl-card--border
              button.pull-right.mdl-button.mdl-js-button.mdl-button--primary(@click="save($event)") 录入
      section.mdl-layout__tab-panel#class-tab-4
        .mdl-grid
          .mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--2dp
            .mdl-card__supporting-text.width-calc-30
              .select
                label 班次：
                select(v-model="Class", @change="get")
                  option(v-for="class in classes", v-text="class.class_name", :value="class")
              .mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--2dp
                .mdl-card__supporting-text.width-calc-30
                  p 选择章节（可多选）
                  table.mdl-data-table.mdl-js-data-table.mdl-data-table--selectable.pub-table(@click="getPoint($event)")
                    thead
                      tr
                        th 序号
                        th 章节
                        th 习题数
                    tbody
                      tr(v-for="(idx, qset) in qsets")
                        td(v-text="idx + 1")
                        td(v-text="qset.ref_chapter")
                        td(v-text="qset.quizs.length")
                  br
                  p 选择知识点（可多选）
                  table.mdl-data-table.mdl-js-data-table.mdl-data-table--selectable.pub-table.point-table(@click="getNum($event)")
                    thead
                      tr
                        th 序号
                        th 知识点
                        th 习题数
                    tbody
                      tr(v-for="(pidx, point) in points")
                        td(v-text='pidx + 1')
                        td(v-text='point.title')
                        td(v-text='point.totalNum')
              .mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--2dp
                .mdl-card__supporting-text.width-calc-30
                  .range(style='margin-top:20px;')
                    label 用时：
                    input.mdl-slider.mdl-js-slider(type="range", min="5", max="30", value="10", step="5", v-model="duration")
                    span(v-text="duration + '分'")
                  .range
                    label 判断：
                    input.mdl-slider.mdl-js-slider(type="range", min="0", :max="maxjudgeNum", value="0", step="1", v-model="judgeNum")
                    span(v-text="judgeNum")
                  .range
                    label 单选：
                    input.mdl-slider.mdl-js-slider(type="range", min="0", :max="maxsingleNum", value="0", step="1", v-model="singleNum")
                    span(v-text="singleNum")
                  .range
                    label 多选：
                    input.mdl-slider.mdl-js-slider(type="range", min="0", :max="maxmultiNum", value="0", step="1", v-model="multiNum")
                    span(v-text="multiNum")
                  .range
                    label 问答：
                    input.mdl-slider.mdl-js-slider(type="range", min="0", :max="maxaskNum", value="0", step="1", v-model="askNum")
                    span(v-text="askNum")
                  h5 题目总数：{{ quizNum }}
                  h5 需完成数：{{ expireNum }}
            .mdl-card__actions.mdl-card--border
              button.pull-right.mdl-button.mdl-js-button.mdl-button--primary(@click="pub($event)") 发布
      section.mdl-layout__tab-panel#class-tab-5
        .mdl-grid
          .mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--2dp
            .mdl-card__supporting-text.width-calc-30
              .select
                label 班次：
                select(v-model="classId", @change="get")
                  option(v-for="class in classes", :value="class._id", v-text="class.class_name")
              .select
                label 时间：
                select(v-model="test", @change="clearStatus")
                  option(v-for="test in testList", :value="test", v-text="test.createAt | formatTime")
              p(v-text='"测试链接：" + qrurl.slice(13)') 
            .mdl-card__actions.mdl-card--border
              button.mdl-button.mdl-js-button.mdl-button--primary(@click="getStatus($event)") 获取状态
              a#share.pull-right.mdl-button.mdl-js-button.mdl-button--icon(:href="qrurl", target="blank", @click="share($event)")
                i.material-icons share
              .mdl-tooltip.mdl-tooltip--left(for='share') 链接二维码
              button#assessment.pull-right.mdl-button.mdl-js-button.mdl-button--icon(@click="analysis($event)")
                i.material-icons assessment
              .mdl-tooltip.mdl-tooltip--left(for='assessment') 测试结果分析
          .mdl-cell.mdl-cell--12-col.mdl-shadow--2dp(v-show="showChart")
            h4.just-center 成绩分布图
            p.just-center.c1 总人数：{{ test.ref_students.length }}
            canvas
            h4.just-center.c2 知识点错误率 
            canvas
          .mdl-cell.mdl-cell--12-col(v-show="showStatus")
            h5 未完成同学名单
            p {{ unfinishList | formatUnfinish }}
          .mdl-cell.mdl-cell--12-col(v-show="showStatus")
            h5 已完成同学列表
          .mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--2dp(v-show="showStatus", v-for="(sidx, s) in finishedList")
            .mdl-card__title.mdl-card--border
              p.mdl-card__title-text {{ s.name }}-{{ s.no }}
            .mdl-card__supporting-text.width-calc-30
              .mdl-grid
                .mdl-cell.mdl-cell--12-col(v-show="!s.isChecked")
                  h5 未批改题目
                .mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--2dp(v-for="(qidx, q) in s.ref_quizs", v-if="q.genre==='问答题' && !s.isChecked")
                  .mdl-card__supporting-text.width-calc-30
                    p 问题描述： {{ q.describe.content }}
                    p 参考答案：{{ q.answers }}
                    p 提交的答案：{{ q.answered }}
                    .range
                      label 评分：
                      input.mdl-slider.mdl-js-slider(type="range", min="0", max="10", value="5", step="1", v-model="q.score")
                      span(v-text="q.score")
                .mdl-cell.mdl-cell--12-col(v-show="s.isChecked")
                  h5 测试结果
                  //p 题目总数：{{ s.ref_quizs.length }}
                  //p 正确数目：{{ s.ref_quizs | getRightNum }}
                  //p 错误数目：{{ s.ref_quizs | getWrongNum }}
                  //p 总分：{{ s.ref_quizs | getSum }}
                  //p 问答题得分：{{ s.ref_quizs | getAskScore }}
                  //p 其他题得分：{{ s.ref_quizs | getOtherScore }}
                  p 总得分（百分制）：{{ s.ref_quizs | getSumScore }}
            .mdl-card__actions.mdl-card--border(v-show="!s.isChecked")
              button.pull-right.mdl-button.mdl-js-button(@click="save($event, sidx)") 保存
      section.mdl-layout__tab-panel#info-tab-1.content
        .mdl-grid
          .mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--2dp
            .mdl-card__supporting-text.width-calc-30
              .mdl-textfield.input
                label 原密码：
                input.mdl-textfield__input(type="password", v-model='originPass')
              .mdl-textfield.input
                label 新密码：
                input.mdl-textfield__input(type="password", v-model='newPass')
              .mdl-textfield.input
                label 确认密码：
                input.mdl-textfield__input(type="password", v-model='cknPass')
            .mdl-card__actions.mdl-card--border
              button.pull-right.mdl-button.mdl-js-button.mdl-button--primary(@click='save($event)') 保存
  #tip.mdl-js-snackbar.mdl-snackbar
    .mdl-snackbar__text
    button.mdl-snackbar__action
  script(src="/js/home.js")
